* { margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { height: 100%; }

body { font-family: 'Tahoma'; background: #DEDEDE; }

section > h2 {
  font-size: 50px;
  text-align: center;
  font-family: Arial Bold;
  padding: 30px 0 50px 0;
  background: #FFF;
  box-shadow: 0px 0px 1px #858585;
}

.meta {
  text-align: center;
  margin-top: -40px;
  margin-bottom: 50px;
  color: #858585;
  transform: translateX(10%);
  -moz-transform: translateX(10%);
  -webkit-transform: translateX(10%);
}

h3 {
	padding: 20px 50px;
	font-size: 30px;
}

.foto-overlay {
	margin-bottom: 50px;
}

.max-50 {
	width: 48%;
	margin: 0 1%;
	float: left;
}

.clear { clear: both; float: none; }